<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae doloribus rerum exercitationem commodi ipsa, quaerat vitae. Asperiores, sapiente quibusdam placeat cupiditate ratione alias. Minus illo ab dicta aliquam dolorem libero.</p>
        <img class="portrait" src="/img/pic.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>